/*
  Global App CSS (Document Level Styles)
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/


@import './variables.css';
@import './fonts.css';
@import './theme/theme.css';

html {
  font-size: 12pt;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
body {
  margin: 0px;
  padding: 0px;

  --mdc-icon-font: 'Material Icons Outlined';
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  font-weight: var(--md-sys-typescale-body-medium-font-weight, 400px);
  line-height: var(--md-sys-typescale-body-medium-line-height, 20px);
  letter-spacing: var(--md-sys-typescale-body-medium-letter-spacing, 0.25px);
}

body { /*typography scale-rem based */
  --md-sys-typescale-display-large-font-size: 4rem;
  --md-sys-typescale-display-large-line-height: 4.6rem;
  
  --md-sys-typescale-display-medium-font-size: 3.2rem;
  --md-sys-typescale-display-medium-line-height: 3.7rem;
  
  --md-sys-typescale-display-small-font-size: 2.6rem;
  --md-sys-typescale-display-small-line-height: 3.1rem;
  
  --md-sys-typescale-headline-large-font-size: 2.1rem;
  --md-sys-typescale-headline-large-line-height: 2.8rem;
  
  --md-sys-typescale-headline-medium-font-size: 2rem;
  --md-sys-typescale-headline-medium-line-height: 2.6rem;
 
  --md-sys-typescale-headline-small-font-size: 1.7rem;
  --md-sys-typescale-headline-small-line-height: 2.1rem;
  
  --md-sys-typescale-body-large-font-size: 1.1rem;
  --md-sys-typescale-body-large-line-height: 1.7rem;
  
  --md-sys-typescale-body-medium-font-size: 1rem;
  --md-sys-typescale-body-medium-line-height: 1.4rem;
  
  --md-sys-typescale-body-small-font-size: 0.85rem;
  --md-sys-typescale-body-small-line-height: 1.1rem;
 
  --md-sys-typescale-label-large-font-size: 1rem;
  --md-sys-typescale-label-large-line-height: 1.4rem;
 
  --md-sys-typescale-label-medium-font-size: 0.85rem;
  --md-sys-typescale-label-medium-line-height: 1.1rem;
  
  --md-sys-typescale-label-small-font-size: 0.8rem;
  --md-sys-typescale-label-small-line-height: 1.1rem;
  
  --md-sys-typescale-title-large-font-size: 1.5rem;
  --md-sys-typescale-title-large-line-height: 2rem;
  
  --md-sys-typescale-title-medium-font-size: 1.1rem;
  --md-sys-typescale-title-medium-line-height: 1.7rem;
  
  --md-sys-typescale-title-small-font-size: 1rem;
  --md-sys-typescale-title-small-line-height: 1.4rem;
}
  
* {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

:root::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background-color: var(--highlight-10, rgba(0, 0, 0, 0.1));
  border-radius: 2px;
}

:root::-webkit-scrollbar-thumb {
  background: var(--highlight-20, rgba(0, 0, 0, 0.2));
  border-radius: 2px;
} 
